<main class="post blog-post col-lg-8">
    <div class="container">
        <div class="post-single">
            @if (!empty($data->image))
            <div class="post-thumbnail">
                <img src="{{ asset($data->image) }}" alt="{{ $data->name }}" class="img-fluid">
            </div>
            @endif

            <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                    @if ($data->categories->count() > 0)
                    <div class="category">
                        @foreach ($data->categories as $category)
                        <a href="{{ getUrl($category) }}">{{ $category->name }}</a>
                        @endforeach
                    </div>
                    @endif
                </div>
                <h1>{{ $data->name }}<a href="{{ getUrl($data) }}"><i class="far fa-bookmark"></i></a></h1>
                <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="javascript:void(0);"
                        class="author d-flex align-items-center flex-wrap">
                        <div class="title"><span>{{ getUser($data) }}</span></div>
                    </a>
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="date"><i class="far fa-clock"></i> {{ date("d/m/Y", strtotime($data->created_at) )
                            }}</div>
                        <div class="views"><i class="far fa-eye"></i> {{ $data->views }}</div>
                        <div class="comments meta-last"><i class="fas fa-comment-alt"></i> {{ countComment($data->id) }}
                        </div>
                    </div>
                </div>
                <div class="post-body">
                    <p class="lead">{{ $data->description }}</p>
                    {!! $data->content !!}
                </div>

                <div class="post-comments">
                    <header>
                        <h3 class="h6">Bình luận<span class="no-of-comments">({{ countComment($data->id) }})</span></h3>
                    </header>

                    @include('public.partials.blog.comment', ['post' => $data->id])
                </div>
                <div class="add-comment">
                    <header>
                        <h3 class="h6">Leave a reply</h3>
                    </header>
                    <form action="#" class="commenting-form">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <input type="text" name="username" id="username" placeholder="Name"
                                    class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" name="username" id="useremail"
                                    placeholder="Email Address (will not be published)" class="form-control">
                            </div>
                            <div class="form-group col-md-12">
                                <textarea name="usercomment" id="usercomment" placeholder="Type your comment"
                                    class="form-control"></textarea>
                            </div>
                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-secondary">Submit Comment</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>